body{
    background-image: url('https://i.cdn.tbs.com/assets/images/2017/03/BobsBurgers-Logo-900x360.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    color: red;
    text-align: center;
    margin-bottom: 150px;
    font-family: 'Stalinist One', cursive;
    
}
.row{
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* filter: blur(8px); */